.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.primary {
  background-color: #0f67ea;
}
.primary:hover {
  background-color: #0453c9;
}
.secondary {
  background-color: #e7e7e7;
  color: black;
}
.success {
  background-color: #4caf50;
}
.danger {
  background-color: #f44336;
}
.outlined {
  background-color: white;
  color: rgb(100, 100, 249);
  border: 2px solid rgb(100, 100, 249);
  margin: 1rem;
}

.outlined:hover {
  background-color: rgb(84, 148, 226);
  color: rgb(237, 237, 245);
  border: 2px solid rgb(149, 149, 235);
}
.Primary_A {
  background-color: #0f67ea;
  margin: 1rem;
}
.Primary_A:hover {
  background-color: #0453c9;
}
.Primary_shadow {
  color: black;
  background-color: white;
  border: 1px solid #d5d7da;
  margin: 1rem;
}
.Primary_shadow:hover {
  color: white;
  background-color: #0f67ea;
  border: 1px solid #0f67ea;
  box-shadow: 0px 10px 30px 0px #0f67ea4d;
  margin: 1rem;
}
.outlined_hover {
  background-color: rgb(196, 224, 224);
  color: #0f67ea;
  border: 1px solid #0f67ea;
  margin: 1rem;
}
.outlined_hover:hover {
  background-color: #0f67ea;
  color: white;
  border: 1px solid #0f67ea;
  margin: 1rem;
}
.outlined_blue {
  background-color: white;
  border: 1px solid rgb(10, 64, 206);
  color: rgb(10, 64, 206);
  margin: 1rem;
}
.outlined_blue:hover {
  background-color: rgb(201, 216, 221);
  border: 1px solid rgb(10, 64, 206);
  color: rgb(10, 64, 206);
  margin: 1rem;
}
.orange_border {
  background-color: orange;
  color: white;
  margin: 1rem;
  border: 2px solid orange;
}
.orange_border:hover {
  background-color: orange;
  color: white;
  border: 2px solid rgb(251, 106, 3);

  box-shadow:
    0 6px 10px 0 rgb(247, 191, 87),
    0 6px 30px 0 rgb(252, 195, 90);
  margin: 1rem;
}
